@page "/"

@using Movies.Models.ViewModels
<h1>Test</h1>
<h3>Movie List</h3>
<label for="takeDropdown">Show:</label>
<select id="takeDropdown" @onchange="UpdateTakeValue">
    <option value="10">10 per page</option>
    <option value="20">20 per page</option>
    <option value="30">30 per page</option>
</select>
<div class="filter-form">
    <label for="propertyDropdown">Filter by Property:</label>
    <select id="propertyDropdown" @bind="selectedProperty">
        @foreach (var property in GetMovieViewModelProperties())
        {
            <option value="@property">@property</option>
        }
    </select>

    <label for="filterValue">Filter Value:</label>
    <input type="text" id="filterValue" @bind="filterValue" />

    <button @onclick="ApplyFilter">Apply Filter</button>
</div>
@if (isLoading)
{
    <LoadingSpinner />
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Genre</th>
                <th>Release Date</th>
                <th>Overview</th>
                <th>Popularity</th>
                <th>Vote Count</th>
                <th>Vote Average</th>
                <th>Original Language</th>
                <th>Poster</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in movies)
            {
                <tr>
                    <td>@movie.Title</td>
                    <td>@movie.Genre</td>
                    <td>@movie.ReleaseDate?.ToShortDateString()</td>
                    <td>@movie.Overview</td>
                    <td>@movie.Popularity</td>
                    <td>@movie.VoteCount</td>
                    <td>@movie.VoteAverage</td>
                    <td>@movie.OriginalLanguage</td>
                    <td>
                        @if (!string.IsNullOrEmpty(movie.PosterUrl))
                        {
                            <img src="@movie.PosterUrl" alt="Poster" width="100" />
                        }
                        else
                        {
                            <div>n/a</div>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="pagination">
        <button @onclick="LoadPreviousPage">Previous</button>
        <span>Page @currentPage</span>
        <button @onclick="LoadNextPage">Next</button>
    </div>

}
